body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.loader {
  width: 80px;
  height: 80px;
  border: 10px solid #ccc;        
  border-top: 10px solid blue;    
  border-radius: 50%;
  
  animation: spin 1s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}